<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>{{title}}</h1>
  </header>

  <div class="container">
    {{{body}}} <!-- To jest ważne, umożliwia wstawienie treści strony -->
  </div>
  <footer>
    &copy; 2023 Portal o Makaronach
  </footer>
</body>
</html>
