<div class="homeMain">
    <div>
        <div class="headerMain">
            <h1>RAHHHHHHH Dino-Witaaam</h1>
        </div>
    </div>
</div>
<div class="mainContainer">
    {{#each makaronDane}}
    <div class="makaronContainer">
        <img src="/assets/{{this.image}}.jpg" alt={{this.name}}>
        <a href="/{{this.image}}"><h1>{{this.image}}</h1></a>
    </div>
    {{/each}}
</div>