<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Witaj na portalu o makaronach!</h1>  
  <nav>
    <ul>
      <li><a href="/">Strona główna</a></li>
      <li><a href="/pasta/1">Spaghetti Carbonara</a></li>
      <li><a href="/pasta/2">Inny rodzaj makaronu</a></li>
      <!-- Dodaj więcej linków do innych rodzajów makaronów, jeśli są dostępne -->
      <li><a href="/inneStrony">Inne Strony</a></li>
    </ul>
  </nav>
</body>
</html>