<div class="homeMain">
    <div>
        <div class="leftMainHomeDiv">
            <h1>RAHHHHHHH Dino-Witaaam</h1>
            <a href="#polecaneStrony">RAAAAAAAAAAHHHHH Przepisy</a>
        </div>
        <div class="rightMainHomeDiv">
            <p>To jest Tekst Zdjecia</p>
        </div>
    </div>
</div>
<div class="mainContainer" id="polecaneStrony">
    <h1>
        Polecane Dania
    </h1>

    <div class="scrollabeRow">
        {{#each makaronDane}}
        <div class="pastaHomeContainer">
            <img src="/assets/{{this.image}}" alt={{this.name}}>
            
            <h1>{{this}}</h1>
            <span class="bg"></span>
        </div>
        {{/each}}
    </div>

</div>